@{
    ViewData["Title"] = "";
}

<h1 style="font-size:1000%;">
<h1 style="color:red;"><p style="text-align:center;">YANTO WORKSHOP</p></h1>

<style>
    body {
        background-image: url('https://i.postimg.cc/hj58rpz9/IMG-20211108-0005.png');
        background-size: cover;
    }
</style>


<p>
<h1 style="font-size:100%;"><p style="color:yellow;">Melayani :</p>
<p style="color:white;">• Jual sparepart motor dan mobil</p>

<p style="color:blue;">Dibuat Oleh :</p>
</p>
<i>
<p style="color:white;">- 23.) Mustofa Rahmawan Saputra</p>
<p style="color:white;"> - 22.) Muhammad Reyhan Fajri</p>
<p style="color:white;">- 32.) Setyo Dwi Afiansyah</p>
<p style="color:white;">- 29.) Ryan Feryanto</p>
</i>