
@{
    ViewData["Title"] = "Detail Transaksi";
}
<h2>@Model.NamaProduk</h2>
<table class = "table">
    <thead>
    <tr>
        <td>Harga per Barang: </td>
        <td>Rp.@Math.Round(@Model.Harga)</td>
     </tr>
    </thead>
</table>
    <a class="btn btn-primary" asp-controller="Workshop" asp-action="Index">Back </a> 